@page
@model User.CreateModel
@{
    ViewData["Title"] = "Create User";
}

<div class="row">
    <div class="col-sm-4 text-center text-sm-start">
        <h2>@ViewData["Title"]</h2>
    </div>
    <hr class="mt-1 mb-3" />
</div>
<form id="formCreate" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="ac-user-properties me-sm-3 mb-3">
            <h5 class="text-muted">Enter the user's details:</h5>
            <hr />
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.Email" autocomplete="email" placeholder="" aria-required="true" />
                <label class="control-label" asp-for="UserModel.Email"></label>
                <span class="text-danger" asp-validation-for="UserModel.Email"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.Password" autocomplete="new-password" placeholder="" aria-required="true" />
                <label class="control-label" asp-for="UserModel.Password"></label>
                <span class="text-danger" asp-validation-for="UserModel.Password"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.ConfirmPassword" autocomplete="new-password" placeholder="" aria-required="true" />
                <label class="control-label" asp-for="UserModel.ConfirmPassword"></label>
                <span class="text-danger" asp-validation-for="UserModel.ConfirmPassword"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.GivenName" autocomplete="given-name" placeholder="" />
                <label class="control-label" asp-for="UserModel.GivenName"></label>
                <span class="text-danger" asp-validation-for="UserModel.GivenName"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.Surname" autocomplete="family-name" placeholder="" />
                <label class="control-label" asp-for="UserModel.Surname"></label>
                <span class="text-danger" asp-validation-for="UserModel.Surname"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.PhoneNumber" autocomplete="tel" placeholder="" />
                <label class="control-label" asp-for="UserModel.PhoneNumber"></label>
                <span class="text-danger" asp-validation-for="UserModel.PhoneNumber"></span>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserModel.LockoutEnabled" />
                    @Html.DisplayNameFor(model => model.UserModel.LockoutEnabled)
                </label>
            </div>
            <div class="d-none d-sm-flex ac-button-footer mt-3">
                <input class="btn btn-primary" id="btnCreate" type="submit" value="Create" />
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
        <div class="ac-user-roles">
            <h5 class="text-muted text-sm-center mb-3">Select the user's role assignments:</h5>
            <hr />
            <div class="mx-auto">
                <table class="table table-sm w-100" data-order='[[2,"asc"]]'>
                    <thead>
                        <tr>
                            <th class="col-auto" id="thSelect" data-orderable="false">
                                <label asp-for="UserModel.Roles.ElementAt(0).IsAssigned"></label>
                            </th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Id"></label></th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Name"></label></th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Description"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var role in Model.UserModel.Roles)
                            {
                                var checkedVal = (role.IsAssigned) ? "checked" : "";
                                <tr>
                                    <td class="align-middle">
                                        <input class="form-check ms-3" type="checkbox" @checkedVal />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Description)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex d-sm-none border-top ac-button-footer mt-4 pt-3">
                <input class="btn btn-primary" id="btnCreate" type="submit" value="Create" />
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>

        <input id="hfRoleList" name="hfRoleList" type="hidden" value="" />
    </div>
</form>

@section Scripts {

    <script defer>
        var dt = $('table').DataTable({
            columnDefs: [
                {
                    target: 1,
                    visible: false,
                    searchable: false
                }
            ]
        });

        $("#btnCreate").click(function (event) {
            var roles = [];

            dt.column("#thSelect").nodes().to$().children("input:checked").each(function () {
                roles.push(dt.row($(this).closest("tr")).data()[1]);
            });

            $("#hfRoleList").val(roles.join(','));
            $("#formCreate").submit();
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
