@page
@model User.DeleteModel

@{
    ViewData["Title"] = "Delete User";

    var message = Model.IsSystemUser
        ? "System accounts may not be deleted!"
        : "Are you sure you want to delete this user?";

    var btnDeleteAttr = Model.IsSystemUser ? "disabled" : "";
}

<div class="row align-items-center">
    <div class="col-sm-4">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col text-danger">
        <h5>@message</h5>
    </div>
    <div class="col-12">
        <hr class="mt-2" />
    </div>
</div>
<form id="formDelete" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="col-auto col-properties me-sm-5 mb-3">
            <h5 class="text-muted">Update the user's details:</h5>
            <hr />
            <input type="hidden" asp-for="IsSystemUser" />
            <input type="hidden" asp-for="UserModel.Email" />
            <div class="form-floating">
                <input class="form-control" id="UserModel_Id" type="text" value="@Model.UserModel.Id" disabled />
                <label asp-for="UserModel.Id" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="UserModel_Email" type="text" value="@Model.UserModel.Email" disabled />
                <label asp-for="UserModel.Email" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="UserModel_GivenName" type="text" value="@Model.UserModel.GivenName" disabled />
                <label asp-for="UserModel.GivenName" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="UserModel_Surname" type="text" value="@Model.UserModel.Surname" disabled />
                <label asp-for="UserModel.Surname" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="UserModel_PhoneNumber" type="text" value="@Model.UserModel.PhoneNumber" disabled />
                <label asp-for="UserModel.PhoneNumber" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="UserModel_LockoutEnd" type="text" value="@Model.UserModel.LockoutEnd" disabled />
                <label asp-for="UserModel.LockoutEnd" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" id="UserModel_AccessFailedCount" type="text" value="@Model.UserModel.AccessFailedCount" disabled />
                <label asp-for="UserModel.AccessFailedCount" class="control-label"></label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled
                        id="UserModel_EmailConfirmed" name="UserModel.EmailConfirmed"
                        @(Model.UserModel.EmailConfirmed ? "Checked" : "") />
                    @Html.DisplayNameFor(model => model.UserModel.EmailConfirmed)
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled
                        id="UserModel_PhoneNumberConfirmed" name="UserModel.PhoneNumberConfirmed"
                        @(Model.UserModel.PhoneNumberConfirmed ? "Checked" : "") />
                    @Html.DisplayNameFor(model => model.UserModel.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" disabled
                        id="UserModel_LockoutEnabled" name="UserModel.LockoutEnabled"
                        @(Model.UserModel.LockoutEnabled ? "Checked" : "") />
                    @Html.DisplayNameFor(model => model.UserModel.LockoutEnabled)
                </label>
            </div>
            <div class="row">
                <div class="col-auto d-none d-sm-block align-items-center mt-3">
                    <input class="btn btn-primary" id="btnDelete" type="submit" value="Delete" @btnDeleteAttr />
                    <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
                </div>
            </div>
        </div>
        <div class="col col-roles mb-3">
            <h5 class="text-muted text-center mb-3">Select the user's role assignments:</h5>
            <hr />
            <div class="mx-auto">
                <table class="table table-sm" data-order='[[1,"asc"]]'>
                    <thead>
                        <tr>
                            <th id="thSelect" class="col-auto" data-orderable="false">
                                <label asp-for="UserModel.Roles.ElementAt(0).IsAssigned"></label>
                            </th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Name"></label></th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Description"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var role in Model.UserModel.Roles)
                            {
                                var checkedVal = (role.IsAssigned) ? "checked" : "";
                                <tr>
                                    <td class="align-middle">
                                        <input class="form-check ms-3" type="checkbox" @checkedVal disabled />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Description)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-auto d-block d-sm-none align-items-center mt-3">
                    <input class="btn btn-primary" id="btnDelete" type="submit" value="Delete" @btnDeleteAttr />
                    <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <script defer>
        $('table').first().DataTable();
    </script>
}