@page
@model User.DetailsModel

@{
    ViewData["Title"] = "User Details";

    var classEdit = (await AuthManager.IsAuthorizedAsync(User, SysClaims.User.Update)) ? "" : "disabled";
}

<div class="row align-items-center">
    <div class="col-sm-4 text-center text-sm-start">
        <h3>@ViewData["Title"]</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="ac-user-properties me-sm-3 mb-3">
        <h5 class="text-muted">The user's properties:</h5>
        <hr />
        <div class="form-floating">
            <input class="form-control" id="UserModel_Id" type="text" value="@Model.UserModel.Id" disabled />
            <label class="control-label" asp-for="UserModel.Id"></label>
        </div>
        <div class="form-floating">
            <input class="form-control ac-hide-lastpass" id="UserModel_Email" type="text" value="@Model.UserModel.Email" disabled />
            <label class="control-label" asp-for="UserModel.Email"></label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="UserModel_GivenName" type="text" value="@Model.UserModel.GivenName" disabled />
            <label class="control-label" asp-for="UserModel.GivenName"></label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="UserModel_Surname" type="text" value="@Model.UserModel.Surname" disabled />
            <label class="control-label" asp-for="UserModel.Surname"></label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="UserModel_PhoneNumber" type="text" value="@Model.UserModel.PhoneNumber" disabled />
            <label class="control-label" asp-for="UserModel.PhoneNumber"></label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="UserModel_LockoutEnd" type="text" value="@Model.UserModel.LockoutEndUtc" disabled />
            <label class="control-label" asp-for="UserModel.LockoutEndUtc"></label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="UserModel_AccessFailedCount" type="text" value="@Model.UserModel.AccessFailedCount" disabled />
            <label class="control-label" asp-for="UserModel.AccessFailedCount"></label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" id="UserModel_EmailConfirmed" type="checkbox" disabled
                    @(Model.UserModel.EmailConfirmed ? "Checked" : "") />
                @Html.DisplayNameFor(model => model.UserModel.EmailConfirmed)
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" id="UserModel_PhoneNumberConfirmed" type="checkbox" disabled
                    @(Model.UserModel.PhoneNumberConfirmed ? "Checked" : "") /> 
                @Html.DisplayNameFor(model => model.UserModel.PhoneNumberConfirmed)
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" id="UserModel_LockoutEnabled" type="checkbox" disabled
                    @(Model.UserModel.LockoutEnabled ? "Checked" : "") />
                @Html.DisplayNameFor(model => model.UserModel.LockoutEnabled)
            </label>
        </div>
        <div class="d-none d-sm-flex ac-button-footer mt-3">
            <a class="btn btn-primary @classEdit" asp-page="./Edit" asp-route-id="@Model.UserModel.Id">Edit</a>
            <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
        </div>
    </div>
    <div class="ac-user-roles">
        <h5 class="text-sm-center text-muted mb-3">The user's role assignments:</h5>
        <hr />
        <div class="mx-auto">
            <table class="table table-sm w-100" data-order='[[1,"asc"]]'>
                <thead>
                    <tr>
                        <th class="select-col" data-orderable="false">
                            <label asp-for="UserModel.Roles.ElementAt(0).IsAssigned"></label>
                        </th>
                        <th><label asp-for="UserModel.Roles.ElementAt(0).Name"></label></th>
                        <th><label asp-for="UserModel.Roles.ElementAt(0).Description"></label></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var role in Model.UserModel.Roles)
                        {
                            var checkedVal = (role.IsAssigned) ? "checked" : "";
                            <tr>
                                <td class="align-middle">
                                    <input class="form-check ms-3" type="checkbox" @checkedVal disabled />
                                </td>
                                <td>
                                    @Html.DisplayFor(x => role.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => role.Description)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="d-flex d-sm-none border-top ac-button-footer mt-4 pt-3">
            <a class="btn btn-primary @classEdit" asp-page="./Edit" asp-route-id="@Model.UserModel.Id">Edit</a>
            <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
        </div>
    </div>
</div>

@section Scripts {

    <script defer>
        $('table').first().DataTable();
    </script>
}
