@page
@model User.EditModel

@{
    ViewData["Title"] = "Edit User";

    var checkboxDisabled = (Model.UserModel.IsSystemUser) ? "disabled" : "";
}

<div class="row">
    <div class="col">
        <h3>@ViewData["Title"]</h3>
        <hr />
    </div>
</div>
<form id="formEdit" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="col-auto ac-col-properties me-sm-5 mb-3">
            <h5 class="text-muted">Update the user's details:</h5>
            <hr />
            <input type="hidden" asp-for="UserModel.Id" />
            <input type="hidden" asp-for="UserModel.Password" />
            <input type="hidden" asp-for="UserModel.ConfirmPassword" />
            <input type="hidden" asp-for="UserModel.IsSystemUser" />
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.Email" autocomplete="email" placeholder="" aria-required="true" />
                <label class="control-label" asp-for="UserModel.Email"></label>
                <span class="text-danger" asp-validation-for="UserModel.Email"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.GivenName" autocomplete="given-name" placeholder="" />
                <label class="control-label" asp-for="UserModel.GivenName"></label>
                <span class="text-danger" asp-validation-for="UserModel.GivenName"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.Surname" autocomplete="family-name" placeholder="" />
                <label class="control-label" asp-for="UserModel.Surname"></label>
                <span class="text-danger" asp-validation-for="UserModel.Surname"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.PhoneNumber" autocomplete="tel" placeholder="" />
                <label class="control-label" asp-for="UserModel.PhoneNumber"></label>
                <span class="text-danger" asp-validation-for="UserModel.PhoneNumber"></span>
            </div>
            <div class="form-floating">
                <input class="form-control" asp-for="UserModel.LockoutEndUtc" placeholder="" />
                <label class="control-label" asp-for="UserModel.LockoutEndUtc"></label>
                <span class="text-danger" asp-validation-for="UserModel.LockoutEndUtc"></span>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserModel.EmailConfirmed" />
                    @Html.DisplayNameFor(model => model.UserModel.EmailConfirmed)
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserModel.PhoneNumberConfirmed" />
                    @Html.DisplayNameFor(model => model.UserModel.PhoneNumberConfirmed)
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UserModel.LockoutEnabled" />
                    @Html.DisplayNameFor(model => model.UserModel.LockoutEnabled)
                </label>
            </div>
            <div class="d-none d-sm-flex ac-button-footer mt-3">
                <input class="btn btn-primary" id="btnSave" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
            </div>
        </div>
        <div class="col ac-col-roles mb-3">
            <h5 class="text-muted text-center mb-3">Select the user's role assignments:</h5>
            <hr />
            <div class="mx-auto">
                <table class="table table-sm" data-order='[[1,"asc"]]'>
                    <thead>
                        <tr>
                            <th id="thSelect" class="col-auto" data-orderable="false">
                                <label asp-for="UserModel.Roles.ElementAt(0).IsAssigned"></label>
                            </th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Name"></label></th>
                            <th><label asp-for="UserModel.Roles.ElementAt(0).Description"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var role in Model.UserModel.Roles)
                            {
                                var checkedVal = (role.IsAssigned) ? "checked" : "";
                                <tr>
                                    <td class="align-middle">
                                        <input class="form-check ms-3" type="checkbox" @checkedVal @checkboxDisabled />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => role.Description)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex d-sm-none ac-button-footer mt-3">
                <input class="btn btn-primary" id="btnSave" type="submit" value="Save" />
                <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
            </div>
        </div>
    </div>

    <input id="hfRoleList" name="hfRoleList" type="hidden" value="" />
</form>

@section Scripts {

    <script defer>
        var dt = $('table').DataTable();

        $("#btnSave").click(function (event) {
            var roles = [];

            dt.column("#thSelect").nodes().to$().children("input:checked").each(function () {
                roles.push(dt.row($(this).closest("tr")).data()[1]);
            });

            $("#hfRoleList").val(roles.join(','));
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
