@page
@model Role.DeleteModel
@{
    ViewData["Title"] = "Delete Role";

    var message = Model.RoleModel.IsSystemRole
        ? "System Roles may not be deleted!"
        : "Are you sure you want to delete this role?";

    var btnDeleteAttr = Model.RoleModel.IsSystemRole ? "disabled" : "";
}

<div class="row align-items-center">
    <div class="col-sm-4 text-center text-sm-start">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col-sm-4 text-center text-danger">
        <h5>@message</h5>
    </div>
    <div class="col-12">
        <hr class="mt-2" />
    </div>
</div>
<form id="formDelete" method="post">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="col-12 text-danger"></div>
        <div class="ac-role-properties me-sm-3 mb-3">
            <h5 class="text-muted">The role's properties:</h5>
            <hr />
            <input type="hidden" asp-for="RoleModel.IsSystemRole" />
            <input type="hidden" asp-for="RoleModel.Name" />
            <div class="form-floating">
                <input class="form-control" type="text" value="@Model.RoleModel.Id" disabled />
                <label asp-for="RoleModel.Id" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input class="form-control" value="@Model.RoleModel.Name" disabled />
                <label asp-for="RoleModel.Name" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control ac-textarea-tall" disabled>@Model.RoleModel.Description</textarea>
                <label asp-for="RoleModel.Description" class="control-label"></label>
            </div>
            <div>
            </div>
            <div class="d-none d-sm-flex ac-button-footer mt-3">
                <input class="btn btn-primary" id="btnDelete" type="submit" value="Delete" @btnDeleteAttr />
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
        <div class="ac-role-users">
            <h5 class="text-muted text-sm-center mb-3">Users assigned to this role:</h5>
            <hr />
            <div class="mx-auto">
                <table class="table table-sm w-100" data-order='[[1,"asc"]]'>
                    <thead>
                        <tr>
                            <th><label asp-for="RoleModel.RoleUsers.ElementAt(0).Email"></label></th>
                            <th><label asp-for="RoleModel.RoleUsers.ElementAt(0).Name"></label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var user in Model.RoleModel.RoleUsers)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(x => user.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(x => user.Name)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="d-flex d-sm-none border-top ac-button-footer mt-3 pt-3">
                <input class="btn btn-primary" id="btnDelete" type="submit" value="Delete" @btnDeleteAttr />
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {

    <script defer>
        $('table').DataTable();
    </script>
}
