@page
@model Role.DetailsModel
@{
    ViewData["Title"] = "Role Details";

    var roleClaims = Model.RoleModel.Id == SysGuids.Role.Administrator
        ? Model.RoleModel.RoleClaims.Select(rc => rc.Claim)
        : Model.RoleModel.RoleClaims.Where(rc => rc.IsAssigned).Select(rc => rc.Claim);

    var classEdit = (await AuthManager.IsAuthorizedAsync(User, SysClaims.Role.Update)) ? "" : "disabled";
}

<div class="row">
    <div class="col">
        <h2>@ViewData["Title"]</h2>
        <hr />
    </div>
</div>
<div class="row mx-sm-1">
    <div class="col col-properties me-sm-5">
        <h5 class="text-muted">The role's properties:</h5>
        <hr />
        <div class="form-floating">
            <input class="form-control" id="RoleModel_Id" type="text" value="@Model.RoleModel.Id" disabled />
            <label class="control-label" asp-for="RoleModel.Id"></label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="RoleModel_Name" type="text" value="@Model.RoleModel.Name" disabled />
            <label class="control-label" asp-for="RoleModel.Name"></label>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control textarea-tall" id="RoleModel_Description" disabled>@Model.RoleModel.Description</textarea>
            <label class="control-label" asp-for="RoleModel.Description"></label>
        </div>
        <div class="row d-none d-sm-block align-items-center mt-3">
            <div class="col-auto">
                <a class="btn btn-primary @classEdit" asp-page="./Edit" asp-route-id="@Model.RoleModel.Id">Edit</a>
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
    </div>
    <div class="col col-claims">
        <h5 class="text-center text-muted mb-3">The role's claim assignments:</h5>
        <hr />
        <div class="row mx-auto">
            <table class="table table-sm" data-order='[[1,"asc"]]'>
                <thead>
                    <tr>
                        <th class="col-auto" data-orderable="false">
                            <label asp-for="RoleModel.RoleClaims.ElementAt(0).IsAssigned"></label>
                        </th>
                        <th><label asp-for="RoleModel.RoleClaims.ElementAt(0).Claim"></label></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var claim in roleClaims)
                        {
                            <tr>
                                <td class="align-middle">
                                    <input class="form-check ms-3" type="checkbox" checked disabled />
                                </td>
                                <td>
                                    @claim
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row d-block d-sm-none align-items-center mt-3">
            <div class="col-auto">
                <a class="btn btn-primary @classEdit" asp-page="./Edit" asp-route-id="@Model.RoleModel.Id">Edit</a>
                <a class="btn btn-secondary" asp-page="Index">Cancel</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script defer>
        $('table').DataTable();
    </script>
}
