@page
@model Role.IndexModel
@{
    ViewData["Title"] = "Role Management";

    var classCreate = (await AuthManager.IsAuthorizedAsync(User, SysClaims.Role.Create)) ? "" : "disabled";
    var classDelete = (await AuthManager.IsAuthorizedAsync(User, SysClaims.Role.Delete)) ? "" : "disabled";
    var classDetails = (await AuthManager.IsAuthorizedAsync(User, SysClaims.Role.Read)) ? "" : "disabled";
    var classEdit = (await AuthManager.IsAuthorizedAsync(User, SysClaims.Role.Update)) ? "" : "disabled";
}
<div class="row align-items-center">
    <div class="col-lg-4">
        <h2>@ViewData["Title"]</h2>
    </div>
    <partial name="_NotificationPartial" />
    <div class="col-12">
        <hr class="mt-2" />
    </div>
</div>
<div class="row">
    <div class="col-lg-11 col-xxl-8 mx-sm-3 pe-sm-4">
        <p>
            <a class="@classCreate" asp-page="Create">Create New</a>
        </p>
        <table class="table table-sm opacity-0" style="width:98%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleInfo[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RoleInfo[0].Description)
                    </th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RoleInfo)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="bi bi-pencil-square ac-icon-button @classEdit"
                               asp-page="./Edit" asp-route-id="@item.Id" title="Edit" aria-label="Edit" />
                            <a class="bi bi-binoculars ac-icon-button @classDetails"
                               asp-page="./Details" asp-route-id="@item.Id" title="View" aria-label="View" />
                            <a class="bi bi-trash ac-icon-button @classDelete"
                               asp-page="./Delete" asp-route-id="@item.Id" title="Delete" aria-label="Delete" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts {

    <script defer>
        var $table = $('table');

        $table.DataTable({
            initComplete: function (settings, json) {
                $table.removeClass('opacity-0');
            }
        });
    </script>
}
